html{
  font-size: 10pt;
}

body {
  margin: 0px;
}

nav {
  background-color: bisque;
  margin-bottom: 4px;
  padding: 4px;
}

div{
  display: flex;
}

.row{
  flex-direction: row;
  width: 100%;       
}

.col{
  flex-direction: column;
  flex: 1 1 0;
}

.selection{
  display: block;
  text-align: center;
  padding: 4px;
  background-color: #999;
  margin-bottom: 4px;
}

.selection:last-of-type{
  margin-bottom: 0px;
}

input[type=file]{
  display: none;
}

.doc-wrapper{
  display: flex;
  flex-direction: column;
}

.selection-add-wrapper{
  display: block;
}

.doc-wrapper textarea {
  resize: none;
}

.contents-wrapper {
  border: 1px solid #999;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
}

.btn {
  margin: 4px;
  padding: 4px 8px;
  background-color: #128aed;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
}
@media screen and (max-width: 425px) {
  .write-wrapper{
    display: none;
  }
}