html{
  font-size: 10pt;
}

body {
  margin: 0px;
}

nav {
  background-color: bisque;
  margin-bottom: 4px;
  padding: 4px;
}

div{
  display: flex;
}

textarea:focus {
  outline: none;
}

/*type=number 화살표제거*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.row{
  flex-direction: row;
  width: 100%;       
}

.col{
  flex-direction: column;
  flex: 1 1 0;
}

.selection{
  display: block;
  text-align: center;
  padding: 4px;
  background-color: #999;
  margin-bottom: 4px;
}

.scene-num-input {
  width: 50px;
}

.selection:last-of-type{
  margin-bottom: 0px;
}

input[type=file]{
  display: none;
}

.doc-wrapper{
  display: flex;
  flex-direction: column;
}

.selection-add-wrapper{
  display: block;
}

.selection-item * {
  margin: 0px 4px;
}

.doc-wrapper textarea {
  resize: none;
}

.contents-wrapper {
  border: 1px solid #999;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
}

.contents-wrapper .row {
  margin: 4px 0px;
}

.write-wrapper input {
  border: none;
  border-bottom: 1px solid #444;
}

.write-wrapper input:focus {
  border-bottom: 2px solid #444;
  outline: none;
}

.btn {
  margin: 4px;
  padding: 4px 8px;
  background-color: #128aed;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  cursor: pointer
}
.btn:hover {
  background-color: #34acfe;
}

@media screen and (max-width: 425px) {
  .write-wrapper{
    display: none;
  }
}